/* time used to do this page    =>    2h */
.div7 {
    margin-top: 95px;
    height: 780px;
    position: relative;
}

.star {
    position: absolute;
    top: 6px;
    color: #0050ff;
}

.first,
.last,
.email,
.message,
.subject {
    position: absolute;
    font-size: 25px;
    font-weight: 300;
    transition: 1s;
    margin-top: 50px;
}

.first-in,
.last-in,
.email-in,
.subject-in,
.message-in {
    border: 0;
    border-bottom: solid #000000 2px;
    position: absolute;
    width: 40%;
    font-size: 20px;
    font-weight: 100;
    height: 30px;
    transition: 0.5s;
    border-radius: 2px;
    outline: none;
}

.first:hover,
.last:hover,
.email:hover {
    color: #043aae;
}

.first-in:hover,
.last-in:hover,
.email-in:hover,
.message-in:hover,
.subject-in:hover {
    border-bottom: solid #0050ff 2px;
    border-radius: 2px;
}

.first {
    top: 0;
    left: 40px;
}

.first-in {
    top: 100px;
    left: 40px;
}

.last {
    top: 0;
    left: 54%;
}

.last-in {
    top: 100px;
    left: 54%;
}

.email {
    top: 150px;
    left: 40px;
}


.email-in {
    top: 260px;
    left: 40px;
    width: 90%;
}

.subject {
    top: 330px;
    left: 40px;
}

.subject-in {
    top: 450px;
    left: 40px;
    width: 90%;
}

.message {
    top: 510px;
    left: 40px;
}

.message-in {
    resize: none;
    height: 100px;
    top: 620px;
    left: 40px;
    width: 90%;
}

.butt1 {
    position: absolute;
    top: 760px;
    left: 41%;
    padding: 15px 50px;
    border-radius: 30px;
}

.butt1 .as8:hover {
    color: #000000;
    font-size: 25px;
}